.product {
    font-family: 'Inter', sans-serif;
    max-height: 35rem;
    display: block;
    width: 100%;
    height: 420px;
  }

.image {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 320px;
  }

  .product .name {
    font-weight: 600;
    color: black;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
  }

  .product .brand {
    font-weight: 200;
    color: rgb(41, 41, 41);
  }
  
  .product .price {
    font-weight: 600;
    color: black;
    font-size: 1rem;
    margin-top: 0.4rem;
  }
  
 
  
