


@media screen and (min-width: 600px) {

    .sales-slide {
        transform: translateX(0%);
        transition: all 0.5s ease-in-out;
        text-align: center;
        color: #1a1a1a;
        margin-top: 1.5rem;
        font-family: 'Inter', sans-serif;
    }

    .sales-slider {
        width: 100%;
        position: relative;
        overflow: hidden;
        height: 74px;
    }

    .sales-slide .link {
        font-size: .9rem;
        text-decoration: underline;
    }
    
    .sales-slide h2 {
        font-size: 1.2rem;
        margin-bottom: .3rem;
    }

    .sales-slide p {
        font-size: .9rem;
    }
}

@media screen and (max-width: 600px) {

    .sales-slide {
        transform: translateX(0%);
        transition: all 0.5s ease-in-out;
        text-align: center;
        color: #1a1a1a;
        font-size: 0.8rem;
        margin-top: 1.5rem;
        font-family: 'Inter', sans-serif;

    }

    .sales-slider {
        width: 100%;
        position: relative;
        overflow: hidden;
        height: 68px;
    }

    h2 {
        font-family: 'Inter', sans-serif;
        font-size: .9rem;
    }

    .sales-slide .link {
        text-decoration: underline;
        font-size: 0.9rem;
    }
    
    .sales-slide h2 {
        margin-bottom: .3rem;
    }

    .sales-slide p {
        font-size: .9rem;
    }
}

.sales-current {
    opacity: 1;
    transform: translateX(100%);
}
