footer {
    background-color: #1a1a1a14;
}

footer span {
    color: #1a1a1a7c;
}

.footer-form h1 {
    color: #1a1a1a;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.footer-form p {
    color: #1a1a1a68;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

footer .link-contact ul {
    color: #1a1a1a68;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;

}

footer .link-contact ul li {
    color: #1a1a1a;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 1rem;
}

input::placeholder {
    color: #1a1a1a50;
    font-size: 0.85rem;
}


/* large screen */
@media screen and (min-width: 600px) {
    .footer-form {
        width: 600px
    }
    input {
        outline: 2.3px #27272747 solid;
        height: 2.5rem;
        border-radius: .3rem;
        padding-left: 1rem;
        font-size: 1rem;
        width: 380px;
    }

    .footer-form .button {
        background-color: #003466;
        font-family: 'Inter', sans-serif;
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
        width: 200px;
        height: 2.7rem;
    }
    
}

/* small screen */
@media screen and (max-width: 600px) {
    .footer-form {
        width: 100%;
    }
    input {
        outline: 2.3px #27272747 solid;
        height: 2.5rem;
        border-radius: .3rem;
        padding-left: 1rem;
        font-size: 1rem;
        width: 100%;
    }
    .footer-form .button {
        background-color: #003466;
        font-family: 'Inter', sans-serif;
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
        height: 2.7rem;
        width: 100%;
        margin-top: 1.7rem;
        
    }
    
}


