.best-sellers-button {
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
    border: 1px #003466 solid;
    width: 7.55rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

.best-sellers {
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

/* font-family: 'Inter', sans-serif; */

@media screen and (min-width: 600px) {
    .box {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .box {
        width: 88%;
    }
}