.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}


@media screen and (min-width: 600px) {

    .slider {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .slide img {
        width: 100%;
        height: 100%;
        max-height: 700px;
    }

    .content {
        position: absolute;
        top: 15rem;
        left: 5rem;
        opacity: 0;
        width: 30%;
        padding: 3rem;
        /* background: white; */
        animation: slide-up 1s ease .5s;
        animation-fill-mode: forwards;
        /* visibility: hidden; */
    }

    h2 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 4rem;
    }

    .arrow {
        border: 2px solid black;
        background-color: transparent;
        color: black;
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        z-index: 999;
        top: 35%;
    }

    hr {
        height: 2px;
        background: rgb(48, 48, 48);
        width: 50%;
    }

    button {
        background-color: rgb(255, 25, 25);
        border-radius: .2rem;
        padding: 1.5rem 3rem;
    }

    @keyframes slide-up {
        0% {
            visibility: visible;
            top: 15rem;
        }
    
        100% {
            visibility: visible;
            top: 10rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .slider {
        width: 100%;
        height: 35vh;
        position: relative;
        overflow: hidden;
    }

    .slide img {
        width: 100%;
        height: 100%;
        max-height: 300px;
    }

    .content {
        position: absolute;
        top: 8rem;
        left: 2rem;
        opacity: 0;
        width: 80%;
        padding-top: 2rem;
        /* background: white; */
        animation: slide-up 1s ease .5s;
        animation-fill-mode: forwards;
        /* visibility: hidden; */    
    }

    h2 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 2.2rem;
    }

    .arrow {
        border: 2px solid black;
        background-color: transparent;
        color: black;
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        z-index: 999;
        top: 80%;
    }

    hr {
        height: 2px;
        background: rgb(48, 48, 48);
        width: 30%;
    }

    button {
        background-color: rgb(255, 25, 25);
        border-radius: .2rem;
        padding: 0.5rem 1rem;  
    }

    @keyframes slide-up {
        0% {
            visibility: visible;
            top: 8rem;
        }
    
        100% {
            visibility: visible;
            top: 4rem;
        }
    }
    
}


.content > * {
    color: black;
    margin-bottom: 1rem;
}

.current {
    opacity: 1;
    transform: translateX(0);
}

.current .content {
    opacity: 1;
}


.arrow:hover {
    background-color: white;
    color: gray;
}

.next {
    right: 1rem;
}

.prev {
    left: 1rem;
}

