.mobile-bg {
    font-family: 'Inter', sans-serif;
    height: 100%;
    width: 100%;
  }

.mobile-bg-image {
    background-image: linear-gradient(rgba(3, 3, 3, 0.529), rgba(13, 13, 16, 0.6)), url("./mobile-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    height: 400px;
  }

.mobile-bg-content {
    width: 92%;
    font-family: 'Inter', sans-serif;
    padding-top: 6rem;
}

.mobile-bg-content h1{
    font-size: 1.5rem;
    line-height: 2.1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #ffffff;
    width: 70%;
    margin-bottom: 2rem;
}

.mobile-bg-content p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: #ffffffcf;
    width: 70%;
    margin-bottom: 2rem;
}

.mobile-bg-button {
    background-color: #003466;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: #ffffff;
    width: 30%;
    cursor: pointer;
}

.web-bg {
    font-family: 'Inter', sans-serif;
    height: 100%;
    width: 100%;
  }

.web-bg-image {
    background-image: linear-gradient(rgba(3, 3, 3, 0.529), rgba(13, 13, 16, 0.6)), url("./web-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    height: 600px;
  }

  .web-bg-content {
    width: 87%;
    font-family: 'Inter', sans-serif;
    padding-top: 10rem;
}

.web-bg-content h1{
    font-size: 2.4rem;
    line-height: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #ffffff;
    width: 50%;
    margin-bottom: 1.5rem;
}

.web-bg-content p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffffcf;
    width: 55%;
    margin-bottom: 2rem;
}

.web-bg-button {
    background-color: #003466;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: #ffffff;
    width: 10rem;
    cursor: pointer;
}