.header {
    position: fixed;
    width: 100%;
    z-index: 100000;
    top: 0;
    background-color: #fff;
}

.top-nav {
    color: #ffffff;
    background-color: #00162B;
    font-family: 'Inter', sans-serif;
}

.socials {
    max-width: 8rem;
}

.gallery-refund {
    font-size: 0.9rem;
}

.search-box input::placeholder {
    color: #1a1a1a82;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    padding-left: 0.1rem;
}

.search-profile-cart {
    width: 27rem;
}

.search-cart-ham {
    width: 7.5rem;
}

.dropdown-toggle::after {
    display: none !important; 
}

.signin {
    color: #1a1a1a;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
}

.web-second {
    border-bottom: 1px #4a4a4a28 solid;
}

.mobile-second {
    padding: 0.7rem 1.2rem;
    border-bottom: 1px #4a4a4a28 solid;
}

.page-navs {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
}

.brands {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mobile-brands {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.side-body {
    border-top: 1px #4a4a4a28 solid;
}

.dropdown-item {
    font-size: 1rem;

}

.mobile-side-nav {
        font-family: 'Inter', sans-serif;
        padding: 0 2rem 2rem;
        display: block;
        height: 200vh;
        position: fixed;
        z-index: 50000;
        background-color: #ffffff;
        width: 100%;
        transition: all 0.5s ease-in-out;
}
    
.hide-mobile-side-nav {
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        width: 100%;
        padding: 0 2rem 2rem;
        background-color: #ffffff;
        height: 100vh;
        position: absolute;
        z-index: 50000;
        margin-left: -100%;
        transition: all 0.5s ease-in-out;
 }

 .mobile-side-nav .button {
    background-color: #003466;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    border: 1px #003466 solid;
 }

 .mobile-side-nav .signup .button{
    background-color: #f4f4f5;
    border: 1px #003466 solid;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: #003466;
    font-weight: bold;
    margin-top: 1rem;
 }

 .mobile-side-nav .signout .button{
    background-color: #f4f4f5;
    border: 1px #003466 solid;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: #003466;
    font-weight: bold;
    margin-top: 1rem;
 }


.mobile-side-nav .content li {
    margin-top: 0.5rem;
    font-size: 1rem;
}

.hide-mobile-side-nav .button {
    background-color: #003466;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    border: 1px #003466 solid;
 }

 .hide-mobile-side-nav .signup .button{
    background-color: #f4f4f5;
    border: 1px #003466 solid;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: #003466;
    font-weight: bold;
    margin-top: 1rem;
 }

 .hide-mobile-side-nav .signout .button{
    background-color: #f4f4f5;
    border: 1px #003466 solid;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: #003466;
    font-weight: bold;
    margin-top: 1rem;
 }


.hide-mobile-side-nav ul li {
    margin-top: 0.5rem;
}

.close {
    display: block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.hamburger {
    display: none;  
    cursor: pointer;
}

.cart-text {
    color: black;
}


.upAdmin {
    display: block;
    width: .8rem;
    height: .5rem;
    cursor: pointer;
    margin-top: .4rem;
}

.downAdmin{
    display: none;  
    cursor: pointer;
}

.admin-content {
    margin-left: 1.2rem;
}

.profile-signout {
    margin-top: -.05rem;
}
